    <div class="container">
      <div class="row">
        <div>
        <nav class="menu">
          <ul class="items">
            <li class="item"  routerLink="/accueil">
              <i class="fa fa-home" aria-hidden="true"></i>
            </li>
            <li class="item"  routerLink="/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
            </li>
            <li class="item" routerLink="/chercher">
              <mat-icon class="material-icons">search</mat-icon>
            </li>
            <li class="item item-active"  routerLink="/chat">
              <i class="fa fa-commenting" aria-hidden="true"></i>
            </li>
            <li class="item">
              <i class="fa fa-file" aria-hidden="true"></i>
            </li>
            <li class="item">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </li>
          </ul>
        </nav>
      </div>
  
        <!-- <div mon-attribut="app-chat" class="ff"></div> -->
        <!-- <div mon-attribut="post" class="gg"></div> -->
        <div >
        <router-outlet  ></router-outlet>
      </div>
    </div>
    </div>
