<div class="okkkk">
    <div class="videoclo">
<h1 mat-dialog-title  (click)="onvide()">appel video</h1>
<div mat-dialog-actions>
    <mat-icon (click)="onNoClick()" style="color: aliceblue;">close</mat-icon>
    <!-- <button mat-button  [mat-dialog-close]="selectedUser" cdkFocusInitial>Ok</button> -->
  </div>
</div>
<div mat-dialog-content>
    <div class="videochat">
        <div id="remote-container" class="bb">
            
        </div>
        <div id="local-container"  class="bb">
        </div>
    </div>
</div>

</div>